<!-- for continuing education info -->
<div id="academic-courses" class="overlay-onClick-portfolio-image">
  <div class="text-overlay-protfolio-image">
    <h1 class="h1-font">Academic Courses</h1>
    <p class="p-font">Courses taken during Masters and Bachelors degree completion.</p>

    <div id="abstract">

      <div id="abstract-desc-contedu">
          <h2>Master Courses</h2>
          <ul class="p-font" style="text-align:left">
            <li>Prediction - I for Computer Scientists</li>
            <li>Distributed Systems</li>
            <li>Distributed Applications</li>
            <li>Energy Informatics</li>
            <li>Security Engineering</li>
            <li>User Modeling and Recommender Systems</li>
            <li>Data Mining</li>
            <li>Patterns in Software Engineering</li>
            <li>Social Computing</li>
            <li>Project Organisation and Management in Software Engineering</li>
            <li>Advanced Topics of Softare Testting</li>
          </ul>

          <h2>Bachelor Courses</h2>
          <ul class="p-font" style="text-align:left">
            <li>Object Oriented Analysis and Design</li>
            <li>Software Engineering</li>
            <li>Operating Systems</li>
            <li>Systems Programming</li>
            <li>Computer Architecture</li>
            <li>Database Systems</li>
            <li>Distributed Database</li>
            <li>Computer Networks</li>
            <li>Information Security</li>
            <li>Network Security</li>
            <li>Microprocessors and its Applications</li>
            <li>Discrete Mathematical Structure and Graph Theory</li>
            <li>Numerical methods and Computational Techniques</li>
            <li>Computational Geometry</li>
            <li>Web Applications Design and Development</li>
            <li>Principles of Programming Languages</li>
            <li>Formal Languages and Automata Theory</li>
            <li>Artificial Intelligence</li>
          </ul>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <button type="button" class="btn-dark" onClick="offOverlayPortfolio('academic-courses')">Close</button>
        </div>
      </div>

    </div>
    <!-- abstract section -->
  </div>
  <!-- IDP Description -->
</div>
