<!-- for continuing education info -->
<div id="desc-contedu" class="overlay-onClick-portfolio-image">
  <div class="text-overlay-protfolio-image">
    <h1 class="h1-font">Continuing Education</h1>
    <p class="p-font">MOOCs</p>

    <div id="abstract">
      <a class="a-col-portfolio" href="#abstract-desc-contedu" onclick="showAbstractDesc('abstract-desc-contedu')">
        <p id="read-abstract-desc-contedu" class="p-font text-left"><i>Read More</i></p>
      </a>
      <hr>
      <div id="abstract-desc-contedu">
          <p class="p-font">
            My urge to dive deeper into the topics of interest has had turned me
            into a big fan of online courses. I have had completed a couple of them.
          </p>
          <h2>Coursera</h2>
          <ul class="p-font">

            <li>Feb. 17, 2020; Completed <a class="a-col-portfolio"
              href="https://www.coursera.org/learn/google-cloud-java-spring">
              Building Scalable Java Microservices with Spring Boot and Spring Cloud</a> by Google Cloud.
              <a class="a-col-portfolio" href="https://www.coursera.org/account/accomplishments/certificate/4PNJCJHM35AH" target="_blank">
                View certificate.
              </a>
            </li>

            <li>Oct. 18, 2018; Completed <a class="a-col-portfolio"
              href="https://www.coursera.org/learn/parallel-programming-in-java/home/info">
              Parallel Programming in Java</a> by Rice University.
              <a class="a-col-portfolio" href="https://www.coursera.org/account/accomplishments/certificate/7S54X4A3CP2E" target="_blank">
                View certificate.
              </a>
            </li>

            <li>Nov. 20, 2017; Completed <a class="a-col-portfolio"
              href="https://www.coursera.org/learn/internet-connection-how-to-get-online/home/info">
              Internet Connections: How to Get Online ?</a> by Cisco.
              <a class="a-col-portfolio" href="https://www.coursera.org/account/accomplishments/certificate/8R25A9PJVR2S" target="_blank">
                View certificate.
              </a>
            </li>

            <li>Jun. 1, 2016; Completed <a class="a-col-portfolio"
              href="https://www.coursera.org/learn/object-oriented-java/home/info">
              Object Oriented Programming in Java </a> by University of California San Diego.
              <a class="a-col-portfolio" href="https://www.coursera.org/account/accomplishments/certificate/JKJ3BT8H7PXH" target="_blank">
                View certificate.
              </a>
            </li>

            <li>May 30, 2016; Completed <a class="a-col-portfolio" href="https://www.coursera.org/learn/algorithms-part2">
              Algorithms, Part II</a> in Java by Princeton University.
              Find the course result as pdf
              <a class="a-col-portfolio" href="img/projects/onlinecourses/coursera_pu_algo2.pdf" target="_blank">
                here
              </a>, because it didn't offer a certificate then.
            </li>

            <li>May 5, 2016; Completed <a class="a-col-portfolio"
              href="https://www.coursera.org/learn/advanced-data-structures/home/info">
              Advanced Data Structures in Java </a> by University of California San Diego.
              <a class="a-col-portfolio" href="https://www.coursera.org/account/accomplishments/certificate/WZTWAHY9AAUA" target="_blank">
                View certificate.
              </a>
            </li>

            <li>Apr. 15, 2016; Completed <a class="a-col-portfolio"
              href="https://www.coursera.org/learn/algorithmic-toolbox/home/info">
              Algorithmic Toolbox </a> by University of California San Diego & Higher School of Economics.
              <a class="a-col-portfolio" href="https://www.coursera.org/account/accomplishments/certificate/WA2AMT5YPF9Q" target="_blank">
                View certificate.
              </a>
            </li>

            <li>Apr. 2, 2016; Completed <a class="a-col-portfolio" href="https://www.coursera.org/learn/algorithms-part1">
              Algorithms, Part I</a> in Java by Princeton University.
              Find the course result as pdf
              <a class="a-col-portfolio" href="img/projects/onlinecourses/coursera_pu_algo1.pdf" target="_blank">
                here
              </a>, because it didn't offer a certificate then.
            </li>

            <li>Mar. 19, 2016; Completed <a class="a-col-portfolio"
              href="https://www.coursera.org/learn/data-structures-optimizing-performance/home/info">
              Data Structures and Performance</a> by University of California San Diego & Higher School of Economics.
              <a class="a-col-portfolio" href="https://www.coursera.org/account/accomplishments/certificate/7FQ49B2KCKA4" target="_blank">
                View certificate.
              </a>
            </li>

          </ul>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <button type="button" class="btn-dark" onClick="offOverlayPortfolio('desc-contedu')">Close</button>
        </div>
      </div>

    </div>
    <!-- abstract section -->
  </div>
  <!-- IDP Description -->
</div>
