<div id="desc-dropby" class="overlay-onClick-portfolio-image">
  <div class="text-overlay-protfolio-image">
    <h1 class="h1-font">Academic Porject - DropBy</h1>
    <p class="p-font">Worked from Apr. 2015 till Jul. 2016</p>

    <div id="abstract">
      <a class="a-col-portfolio" href="#" onclick="showAbstractDesc('abstract-desc-dropby')">
        <p id="read-abstract-desc-dropby" class="p-font text-left"><i>Read Abstract</i></p>
      </a>
      <hr>
      <div id="abstract-desc-dropby">
          <p class="p-font">
            <b>DropBy</b> is developed during the course
            <a class="a-col-portfolio" href="https://wwwmatthes.in.tum.de/pages/1mqqqoqe7gapz/SEBA-Master-Web-Application-Engineering">
              SEBA Master - Web Application  Engineering</a> at TUM in Summer
            Semester 2015. It is an online question-answer portal for the students of TUM
            inorder to help new students by taking advice from senior students.
            As new students have various queries from all walks of life, which
            could be easliy solved by the earlier residents in that area, i.e.,
            their seniors. My task was to add the
            <a class="a-col-portfolio" href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete">CRUD</a>
            operations and user authentication in the same.
            <a class="a-col-portfolio" href="https://bitbucket.org/sam0645/dropby_seba34">
              Link to the repository</a>.
            The project is created in <a class="a-col-portfolio" href="https://www.playframework.com/">
              Play framework</a> using Java, Java Persistence API (JPA) and SQLite
            for the backend and Bootstrap, JavaScript, jQuery and AJAX for the
            frontend.
          </p>
      </div>
      <button type="button" class="btn-dark" onClick="offOverlayPortfolio('desc-dropby')">Close</button>

    </div>
    <!-- abstract section -->
  </div>
  <!-- IDP Description -->
</div>
