<!-- this div will contain logos to institutes -->
<section id="almamaters" class="about bg-primary">
<div class="container">
  <div class="row">
    <!-- <div class="col-lg-12 text-center"> -->
    <div class="col-lg-12 col-lg-offset-0 text-center">
      <h2>Alma maters</h2>
      <hr class="small">
      <div class="row">

        <div class="col-md-3">
          <div class="service-item">
            <!-- <span class="fa-stack fa-5x"> -->
              <a href="https://www.tum.de/"><img class="ima-logo" src="img/edu/tum.png" alt="University"></a>
              <!-- </span> -->
            </div>
        </div>

        <div class="col-md-3">
          <div class="service-item">
            <!-- <span class="fa-stack fa-5x"> -->
              <img class="ima-logo round" src="img/edu/nitp.jpg" alt="College">
            <!-- </span> -->
          </div>
        </div>

        <div class="col-md-3">
          <div class="service-item">
            <!-- <span class="fa-stack fa-5x"> -->
              <a href="https://www.hs-emden-leer.de/"><img class="ima-logo" src="img/edu/fhem.png" alt="Intern"></a>
              <!-- </span> -->
            </div>
          </div>

        <div class="col-md-3">
          <div class="service-item">
            <!-- <span class="fa-stack fa-5x"> -->
              <a href="http://www.shskanpur.com/home.php"><img src="img/edu/shs.jpg" alt="School"></a>
            <!-- </span> -->
          </div>
        </div>

      </div>

    </div>
    <!-- inner row -->
  </div>
  <!-- /.row outer -->
  </div>

<!-- /.container -->
</section>
