<!-- this div will contain logos to institutes -->
<section id="about" class="about bg-light">
<section id="about" class="about bg-primary">
<div class="container">



  <div class="row">
    <div class="col-lg-12 text-center">

      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <!-- <span class="fa-stack fa-5x"> -->
            <a href="https://www.tum.de/"><img class="ima-logo" src="img/tum.png" alt="University"></a>
          <!-- </span> -->
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <!-- <span class="fa-stack fa-5x"> -->
            <a href="https://www.hs-emden-leer.de/"><img class="ima-logo" style="margin:100px 0 0 150px;" src="img/fhem.png" alt="Intern"></a>
          <!-- </span> -->
        </div>
      </div>

    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <!-- <span class="fa-stack fa-5x"> -->
            <img class="ima-logo" style="width:100%; margin:0 0 0 150px;" src="img/nitp.jpg" alt="College">
          <!-- </span> -->
        </div>
      </div>


      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <!-- <span class="fa-stack fa-5x"> -->
            <a href="http://www.shskanpur.com/home.php"><img style="width:100%; margin:10px 0 0 350px;" src="img/shs.jpg" alt="School"></a>
          <!-- </span> -->
        </div>
      </div>
    </div>
  </div>







  </div>

<!-- /.container -->
</section>
