<div id="desc-idp" class="overlay-onClick-portfolio-image">
  <div class="text-overlay-protfolio-image">
    <h1 class="h1-font">Interdisciplinary Project</h1>
    <p class="p-font">Worked from Apr. 2015 till Jul. 2015</p>
    <h3>A Xenomai interface on the Beaglebone Black for SPI (serial peripheral interface)
      communication with external DAC (Digital-to-Analog converter) chips.</h3>

    <div id="abstract">
      <a class="a-col-portfolio" href="#abstract-desc-idp" onclick="showAbstractDesc('abstract-desc-idp')">
        <p id="read-abstract-desc-idp" class="p-font text-left"><i>Read Abstract</i></p>
      </a>
      <hr>
      {% include idp-abstract.html %}
      <div class="row justify-content-center">
        <div class="col-4">
          <button type="button" class="btn-dark" onClick="offOverlayPortfolio('desc-idp')">Close</button>
        </div>
      </div>
    </div>
    <!-- abstract section -->
  </div>
  <!-- IDP Description -->
</div>
