<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Research and Personal Projects</h2>
        <hr class="small">
        <div class="row">

        <div class="col-md-6">
          <div class="portfolio-item">
            <a href="#">
              <img onclick="onOverlayPortfolio('thesis-desc')"
                class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
            </a>
            {% include thesis-desc.html %}
          </div>
        </div>
        <!-- outer most division Master Thesis-->


          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img onclick="onOverlayPortfolio('idp-desc')" class="img-portfolio
                  img-responsive" src="img/portfolio-2.jpg">
              </a>
              {% include idp-desc.html %}
            </div>
          </div>

          <!-- outer most division Interdisciplinary project (IDP) -->


          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img onclick="onOverlayPortfolio('dropby-desc')" class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              </a>
              {% include dropby-desc.html %}
            </div>
          </div>
          <!-- dropby div  -->

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div>

        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
