<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 col-lg-offset-1 text-center">
        <h2>Research and Personal Projects</h2>
        <hr class="small">
        <div class="row">

        <div class="col-md-6">
          <div class="portfolio-item">
            <a href="#desc-thesis">
              <img onclick="onOverlayPortfolio('desc-thesis')"
                class="img-portfolio img-responsive" src="img/presentation1.jpg">
            </a>
            {% include thesis-desc.html %}
          </div>
        </div>
        <!-- outer most division Master Thesis-->


          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#desc-idp">
                <img onclick="onOverlayPortfolio('desc-idp')" class="img-portfolio
                  img-responsive" src="img/presentation2.jpg">
              </a>
              {% include idp-desc.html %}
            </div>
          </div>

          <!-- outer most division Interdisciplinary project (IDP) -->


          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#desc-dropby">
                <img onclick="onOverlayPortfolio('desc-dropby')" class="img-portfolio img-responsive" src="img/presentation3.jpg">
              </a>
              {% include dropby-desc.html %}
            </div>
          </div>
          <!-- dropby div  -->

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#desc-contedu">
                <img onclick="onOverlayPortfolio('desc-contedu')" class="img-portfolio img-responsive" src="img/presentation4.jpg">
              </a>
              {% include contedu-desc.html %}
            </div>
          </div>
          <!-- continuing education -->

        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
