<div id="desc-thesis" class="overlay-onClick-portfolio-image">
  <div class="text-overlay-protfolio-image">
    <h1 class="h1-font">Master Thesis</h1>
    <p class="p-font">Worked from Nov. 2015 till Jun. 2016 in the Chair of
      <a class="a-col-portfolio" href="#">Business Information Systems</a> at
      Technical University of Munich; with supervisor <a class="a-col-portfolio" href="#">
      Prof. Dr. Hans-Arno Jacobsen</a> and advisor <a class="a-col-portfolio" href="#">Dr.
      Martin Jergler.</a>
    </p>

    <div id="abstract">
      <a class="a-col-portfolio" onclick="showAbstractDesc('abstract-desc-thesis')" href="#abstract-desc-idp">
        <!-- Id of Read Abstract should follow pattern 'read-' + parentId
        Example 'read-abstract-desc-thesis' -->
        <p id="read-abstract-desc-thesis" class="p-font text-left"><i>Read Abstract</i></p>
      </a>
      <hr>
      {% include thesis-abstract.html %}
      <div class="row justify-content-center">
        <div class="col-4">
          <button type="button" class="btn-dark" onClick="offOverlayPortfolio('desc-thesis')">Close</button>
        </div>  
      </div>
    </div>
    <!-- abstract section -->
  </div>
  <!-- Master Thesis Description -->
</div>
