<div id="overlay-onClick-portfolio-image" onClick="offOverlayPortfolio()">
  <div id="text-overlay-protfolio-image">
    <h1 class="h1-font">Master Thesis</h1>
    <p class="p-font">Worked from Nov. 2015 till Jun. 2016 in the Chair of
      <a class="a-col-portfolio" href="#">Business Information Systems</a> at
      Technical University of Munich; with supervisor <a class="a-col-portfolio" href="#">
      Prof. Dr. Hans-Arno Jacobsen</a> and advisor <a class="a-col-portfolio" href="#">Dr.
      Martin Jergler.</a>
    </p>

    <div id="abstract">
      <!-- <a href="#" onclick="showAbstractDesc()"><p class="p-font"><i>Read Abstract</i></p></a> -->
      <a href="#"><p class="p-font"><i>Read Abstract</i></p></a>
      <hr>
      {% include thesis-abstract.html %}
    </div>
    <!-- abstract section -->
  </div>
  <!-- Master Thesis Description -->
</div>
